<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1><i style='font-size:28px' class='fas'>&#xf30a;</i>      Continue Shopping</h1>
<div id = "parent-cart">
    <% @cart_products.each do |cart_product|%>
    <%= image_tag cart_product.image_url %>
    <%= cart_product.product_name %>
    <button id = "minus">-</button>
    <button id = "number">1</button>
    <button id = "plus">+</button>
    <%= cart_product.price  %>
    <i class="fa fa-trash-o" style="font-size:48px;color:red"></i>
    <%end%>
</div>