
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">                                                                                                                            

  <div id = "payment-form">
    <div id = "div1">
        <%# <h1 id = "payment-head">Payment method</h1> %>
         <div id = "payment-logo">
            <%= image_tag 'text.png', alt: 'logo' ,id:"logo-img"%>
        </div>
        <i class='fas fa-wallet'style="font-size:19px;margin-left:6%;" id = "wallet-font"></i>
        <select name="" id="wallet" required class= "s-payment" >  <br>
            <option>UPI(Google Pay/PhonePe)</option>     
            <option value="India">GPay</option>
            <option value="India">PhonePe</option>
        </select><br>    
        <i class='fa fa-bank' aria-hidden="true" style="font-size:20px;margin-left:6%;" id = "bank-font"></i>
        <select name="" id="bank" required class= "s-payment">  <br>
            <option>Net Banking</option>     
            <option value="India">State Bank of India</option>
            <option value="India">Axis Bank</option>
            <option value="India">HDFC Bank</option>
            <option value="India">ICIC Bank </option>
            
        </select><br>
        <i class="fa fa-rupee" aria-hidden="true"  id ="rupee-font"></i>
        <select name="" id="rupee" required class= "s-payment">  <br>
            <option>Cash on Delivery</option>     
            <option value="India">Pay cash on delivery</option>
        </select><br>
        <br>
        <p id = "items-para">Total Items</p>
            <hr>
        <p id = "price-para" >Total Price</p><br>
        <div id = "addmenu">
            
        </div>
        <a href = "/home"><button type="submit" id = "pay-butt" onclick="orderFunction()">Order now</button></a>
    </div>
     
  </div>
  <script>
    function orderFunction() {
        alert("successfully order your item")
    }
    function renderFood(addItems){
         let len = addItems.length;
         console.log(len);
         let adding ="";
            for (let i = 0; i < len; i++) {
                let obj = addItems[i];
                let food = `<button id = "items-butt" >${obj.qty}</button><br>
                            <p id = "price-para2" >${obj.total}</p>`;
                adding = adding + food;
            }
            document.getElementById("addmenu").innerHTML = adding;
}

    let getValue = JSON.parse(localStorage.getItem("items"));
    console.log(getValue);
    renderFood(getValue);
  </script>