// Place all the styles related to the list_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#add-img-div{
      margin-top: 5%;
    // border: 1px solid black;
    box-shadow: 0 0 4px;
    width: 25%;
    margin-left: 6%;
    border-radius: 12px;
    height: 383px;
    float: left;
    position: relative;
    z-index: -1;
}
#p-img{
    width: 85%;
    height: 220px;
    margin-left: 23px;
    margin-top: 23px;
    border-radius: 13px;
    
}
#p-name{
    color:#413F42;
    text-align: left;
    margin-left: 9%;
    margin-top: 8px;
    margin-bottom: 10px;
}
#p-desc{
    margin-left: 9%;
    font-size: 14px;
    display: inline-block;
    width: 62%;
    // border: 1px solid black;
    margin-top: 0;
}

#buy{
    position: absolute;
    width: 60%;
    margin-left: 9%;
    height: 30px;
    border-radius: 5px;
    border: none;
    z-index: -1;
    background-color: #6ECB63;
    color: white;
    bottom: 10px;
}
#cart{
    padding-top: 3px;
    width: 19px;
    height: 19px;
    
}
#cart-butt{
    margin-left: 228px;
    width:16%;
    height: 8%;
    background:none;
    border-radius: 5px;
    border: none;
    cursor:pointer;
    background-color: coral;
    position: absolute;
    bottom: 10px;
}
#p-rate{
    text-align: left;
    margin-left: 21px;
    color: #413F42;
    display: inline-block;
    // border: 1px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: -1;
    position: absolute;


}
#product-list{
    margin-top: 8%;
    height: 1360px;
    // border:1px solid black;
    margin-left: 5%;
    width: 90%;

}
.striked-price {
    font-size: 12px;
    margin-left: 45px;
    position: absolute;
    bottom: 67px;
}
#list-head{
    margin-left: 5%;
}
#shop-f{
    width:100%;
    height: 350px;
    background-color: #EEEEEE;
    // margin-top: 70%;
  
}
#shop-address{
    width:30%;
    //  border: 1px solid black;
    float: left;
    margin-top: 5%;
    margin-left: 3%;
}
#shop-menu{
    width:30%;
    float: left;
    margin-top: 5%;
    margin-left: 3%;
    // border: 1px solid black;
}
#shop-account{
    width:30%;
    float: left;
    margin-top: 5%;
    margin-left: 3%;
    // border: 1px solid black;
}
.footer-p{
    // text-align: center;
    margin-left: 37%;
}
footer{
    background-color: black;
    margin-top: -16px;
    height: 60px;
    color:white;
    padding-top: 2px;
}
#foot-para1{
    text-align: center;
    font-size: small;
    opacity: 0.8;
}
#foot-para2{
    text-align: center;
    font-size: small;
    opacity: 0.8;
    
}
.f-head{
    margin-left: 37%;
}
#pagination{
    width: 20%;
    // border: 1px solid black;
    margin-left: 47%;
    // background-color: blue;
}