// Place all the styles related to the user_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#address-form{
    margin-top: 10%;
    // border: 1px solid black;
    width:40%;
    margin-left:35%;
}
.add-input{
    margin-left: 7%;
    width: 85%;
    margin-top: 2%;
}
#c-select{
    height:30px;
}
#add-sub{
    width:50%;
    margin-left: 7%;
    margin-top: 5%;
}