// Place all the styles related to the user_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#address-form{
    margin-top: 10%;
    // border: 1px solid black;
    width:60%;
margin-left:20%;
    position: relative;
}
.add-input{
    margin-left: 7%;
    width: 40%;
    margin-top: 2%;
}
#c-select{
    height:30px;
}
#add-sub{
    width:25%;
    margin-left: 7%;
    margin-top: 5%;
}
#phonenum{
    position: absolute;
    top:10%;
    // margin-left: 10%;
}
#add-address{
    width:90%;
    height: 100px;
    margin-left: 7%;
    margin-top: 2%;
}
#landmark{
    position: absolute;
    top:26%;
}
#state{
    position: absolute;
    top:72%;
}